* {
  margin: 0px;
  padding: 0px;
}

html {
  height: 100%;
}

body {
  background: rgb(1, 4, 78);
  background: linear-gradient(90deg, rgb(2, 7, 156) 0%, rgb(0, 0, 255) 100%);
}

.app-container {
  display: flex;
  flex-direction: column;

  min-height: calc(100vh - 72px);
}

footer {
  background-color: rgb(0, 1, 37);
  border-top: 2px solid red;
  height: 50px;
  margin-top: 20px;
}

.search-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
}

.navbar {
  background-color: rgb(0, 1, 37);
  border-bottom: 2px solid red;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px 0px 40px;
}


.navbar h1 {
  color: white;
  font-size: 50px;
}

.navbar-logo {
  margin: 10px;
  width: 160px;
}

@media screen and (max-width: 760px) {
  .navbar-logo {
    margin: 10px;
    width: 120px;
  }
  .navbar h1 {
    color: white;
    font-size: 30px;
  }
}

.sb-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
}

.sb-input {
  border-radius: 20px;
  padding: 10px;
  height: 20px;
  width: 60%;
  box-shadow: 0px 2px 2px black;
  border-radius: 5px;
  border: none;
}

.sb-button {
  margin-left: 10px;
  border-radius: 10px;
  width: 40px;
  background-color: rgb(0, 1, 37);
  height: 40px;
  color: white;
  display: flex;
}

.sb-button img {
  width: 35px;
  height: 35px;
}

.pagination {
  display: flex;
  color: white;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.pagination button {
  border-radius: 50px;
  width: 35px;
  height: 35px;
  align-items: center;
  color: white;
  background-color: rgb(0, 1, 37);
  margin-right: 10px;
  margin-left: 10px;
  font-weight: 900;
  border: black solid 2px;
}

.alert-msg {
  background-color: rgb(0, 1, 37);
  color: white;
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;
  font-size: 20px;
  border-radius: 20px;
}

.pokedex-header {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding: 10px;
}

@media screen and (max-width: 1800px) {
  .pokedex-grid {
    display: grid;
    gap: 10px;
    margin-right: 50px;
    margin-left: 50px;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1100px) {
  .pokedex-grid {
    display: grid;
    gap: 10px;
    margin-right: 50px;
    margin-left: 50px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 760px) {
  .pokedex-grid {
    display: grid;
    gap: 10px;
    margin-right: 50px;
    margin-left: 50px;
    grid-template-columns: repeat(1, 1fr);
  }
}

.pokemon-card {
  background: linear-gradient(
    157deg,
    rgba(180, 58, 58, 1) 50%,
    rgba(58, 80, 180, 1) 50%
  );
  filter: saturate(180%);
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 20px;
  border: 5px solid black;
}

.pc-img {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 3px solid rgba(0, 0, 0, 0.5);
  width: 80px;
  height: 80px;
  margin: 5px;
}

.pc-info {
  display: flex;
  flex-direction: column;
  color: white;
  flex: 1;
  padding-right: 10px;
  padding-left: 5px;
}

.pc-type {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
}

.pc-id {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: end;
}

.pc-id-img {
  width: 20px;
  height: 20px;
  padding-right: 10px;
}

.pokedex-details {
  margin-right: 50px;
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemon-details {
  background: linear-gradient(
    157deg,
    rgba(180, 58, 58, 1) 50%,
    rgba(58, 80, 180, 1) 50%
  );
  filter: saturate(180%);
  border-radius: 20px;
  border: 5px solid black;  
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.pd-img {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 3px solid rgba(0, 0, 0, 0.5);
  width: 80px;
  height: 80px;
  margin: 5px;
  padding: 5px;
}

.pd-info {
  display: flex;
  flex-direction: column;
  color: white;
  flex: 1;
  padding-right: 10px;
  padding-left: 5px;
}

.pd-type {
  padding-top: 5px;
  display: flex;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.pd-ability {
  margin-top: 5px;
  margin-bottom: 5px;
  display: grid;
  
  grid-template-columns: repeat(2, 1fr);
}

.pd-stats {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.pd-s-item {
  display: flex;
  margin-right: 5px;
  margin-bottom: 5px;
  align-items: center;
  flex-direction: row;
  
}

.pd-id-img {
  width: 20px;
  height: 20px;
  padding-right: 10px;
}

.pd-img-height {
  width: 10px;
  margin-left: 5px;
  margin-right: 5px;
  height: 20px;
  padding-right: 10px;
}

.ability{
  text-align: center;
  border-radius: 7px;
  border: 3px solid rgba(0, 0, 0, 0.5);
  width: 90px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
  margin-top: 5px;

  background-color: white;background: rgb(255,255,255);
  background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(162,162,162,1) 100%);  color:black
}

.type {
  text-align: center;
  border-radius: 7px;
  border: 3px solid rgba(0, 0, 0, 0.5);
  width: 90px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
}

/* Type Pokémons */
.bug {
  background-color: #b97fc9;
  color: white;
}

.dark {
  background-color: #707070;
  color: white;
}

.dragon {
  background: rgb(83, 164, 207);
  background: linear-gradient(
    180deg,
    rgba(83, 164, 207, 1) 50%,
    rgba(241, 110, 87, 1) 50%
  );
  color: white;
}

.electric {
  background-color: #eed535;
  color: black;
}

.fairy {
  background-color: #fdb9e9;
  color: black;
}

.fighting {
  background-color: #d56723;
  color: white;
}

.fire {
  background-color: #fd7d24;
  color: white;
}

.flying {
  background: rgb(61, 199, 239);
  background: linear-gradient(
    180deg,
    rgba(61, 199, 239, 1) 50%,
    rgba(189, 185, 184, 1) 50%
  );
  color: black;
}

.ghost {
  background-color: #7b62a3;
  color: white;
}

.grass {
  background-color: #9bcc50;
  color: black;
}

.ground {
  background: rgb(247, 222, 63);
  background: linear-gradient(
    180deg,
    rgba(247, 222, 63, 1) 50%,
    rgba(171, 152, 66, 1) 50%
  );
  color: black;
}

.ice {
  background-color: #51c4e7;
  color: black;
}

.normal {
  background-color: #a4acaf;
  color: black;
}

.poison {
  background-color: #b97fc9;
  color: white;
}

.psychic {
  background-color: #f366b9;
  color: white;
}

.rock {
  background-color: #a38c21;
  color: white;
}

.steel {
  background-color: #9eb7b8;
  color: black;
}

.water {
  background-color: #4592c4;
  color: white;
}
/* Type Pokémons */
